* {
    box-sizing: border-box;
}
body{
    background-color: #EEE;
    font-family: Arial, Tahoma;
}
.page-head, 
.page-description{
    text-align: center;

}
.page-head{
    font-size: 40px;
    margin: 20px 0 0;
}
.page-description{
    font-size: 22px;
    margin: 20px 0 40px;
}

.skill-box{
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid#ccc;
    width: 450px;
}
.skill-box .skill-name{
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;

}
.skill-box .skill-progress{
    background-color: #f7f7f7;
    padding: 10px;
    position: relative;

}
.skill-box .skill-progress span{
    position:absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #009688;

}